<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="../create-routine" >
    Crear una Rutina
  </ion-button>
  <ion-button (click)="logout()">
    cerrar sesión
  </ion-button>
</ion-content>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let rutina of rutinas">
      <h2>{{ rutina.nombre_actividad }}</h2>
      <p>Día: {{ rutina.dia }}</p>
      <p>Hora de inicio: {{ rutina.hora_inicio }}</p>
      <p>Hora de fin: {{ rutina.hora_fin }}</p>
    </ion-item>
  </ion-list>
</ion-content>