<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>

    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-picture">
    
    <ng-template #defaultPicture>
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </ng-template>
  </div>
  <form [formGroup]="profileForm">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" [readonly]="!isEditing.nombre"></ion-input>
      <ion-buttons slot="end">
        <ion-button size="small" (click)="toggleEdit('nombre')">
          <ion-icon [name]="isEditing.nombre ? 'checkmark' : 'create'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input formControlName="edad" type="number" [readonly]="!isEditing.edad"></ion-input>
      <ion-buttons slot="end">
        <ion-button size="small" (click)="toggleEdit('edad')">
          <ion-icon [name]="isEditing.edad ? 'checkmark' : 'create'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email" [readonly]="!isEditing.email"></ion-input>
      <ion-buttons slot="end">
        <ion-button size="small" (click)="toggleEdit('email')">
          <ion-icon [name]="isEditing.email ? 'checkmark' : 'create'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" [readonly]="!isEditing.password"></ion-input>
      <ion-buttons slot="end">
        <ion-button size="small" (click)="toggleEdit('password')">
          <ion-icon [name]="isEditing.password ? 'checkmark' : 'create'"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </form>
</ion-content>