.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f4f8; /* Verde claro */
  padding: 10%;
}

.container {
  width: 100%;
  max-width: 400px;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 30vw;
  height: auto;
  max-width: 120px;
  margin-bottom: 10px;
  animation: bounceIn 1s ease-in-out;
}

h1 {
  font-size: 1.5em;
  color: #000000; /* Letras en negro */
  font-weight: bold;
}

.input-item {
  --background: transparent;
  --highlight-color-focused: #4caf50;
  --placeholder-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  font-size: 1em;
  animation: slideInUp 0.8s ease-in-out;
}

ion-input {
  --color: #000000; /* Color del texto ingresado (negro) */
  --placeholder-color: rgba(0, 0, 0, 0.6); /* Placeholder en negro claro */
  font-size: 1em;
}

.error-message {
  color: #f44336;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;
}

.login-btn, .register-btn {
  --background: #4caf50; /* Verde claro */
  color: #ffffff;
  margin-top: 20px;
  border-radius: 10px;
  font-weight: bold;
  animation: slideInUp 1s ease-in-out;
  transition: transform 0.2s;
  padding: 1em;
  font-size: 1em;
}

.login-btn:hover, .register-btn:hover {
  transform: scale(1.05);
}

.register-btn {
  --background: #f0f4f8;
  color: #4caf50;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Adaptación responsiva para pantallas pequeñas */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.2em;
  }

  .login-btn, .register-btn {
    font-size: 0.9em;
    padding: 0.8em;
  }

  .container {
    padding: 15px;
  }

  .logo {
    width: 35vw;
  }
}
