<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form_register" (ngSubmit)="submit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"  name="email" required></ion-input>
      </ion-item>
      <div>
        <div *ngIf="form_register.get('email')?.touched && form_register.get('email')?.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form_register.get('email')?.touched && form_register.get('email')?.errors?.['email']">Ingrese un correo válido</div>
      </div>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"  name="nombre" required></ion-input>
      </ion-item>
      <div>
        <div *ngIf="form_register.get('nombre')?.touched && form_register.get('nombre')?.errors?.['required']">El Nombre es requerido</div>
        <div *ngIf="form_register.get('nombre')?.touched && form_register.get('nombre')?.errors?.['minlength']">Su nombre debe tener un mínimo de 2 caracteres</div>
        <div *ngIf="form_register.get('nombre')?.touched && form_register.get('nombre')?.errors?.['maxlength']">Su nombre contiene demasiados caracteres</div>
      </div>
      <ion-item>
        <ion-label position="floating">Edad</ion-label>
        <ion-input type="number" formControlName="edad"  name="edad" required></ion-input>
      </ion-item>
      <div>
          <div *ngIf="form_register.get('edad')?.touched && form_register.get('edad')?.errors?.['required']">La edad es requerida</div>
          <div *ngIf="form_register.get('edad')?.touched && form_register.get('edad')?.errors?.['min']">Usted debe tener más de 12 años para registrarse</div>
          <div *ngIf="form_register.get('edad')?.touched && form_register.get('edad')?.errors?.['max']">Usted sobrepasa la edad máxima existente</div>
      </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [type]="passwordType" formControlName="password" required></ion-input>
        <ion-button (click)="mostrar_contra()" slot="end" fill="clear" shape="round">
          <ion-icon [name]="passwordIcon"></ion-icon>
        </ion-button>
      </ion-item>
      <div>
        <div *ngIf="form_register.get('password')?.touched && form_register.get('password')?.errors?.['required']">La contraseña es requerida</div>
        <div *ngIf="form_register.get('password')?.touched && form_register.get('password')?.errors?.['minlength']">La contraseña debe contener un mínimo de 6 caracteres</div>
      </div>
      <ion-button  expand="full"type="submit" [disabled]="form_register.invalid">Registrarse</ion-button>
    </form>
  </div> 
</ion-content>
